@using CJJ.Blog.Service.Models.Data;
@model CJJ.Blog.Service.Models.Data.Employee
@{
    ViewBag.Title = "AddOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-area {
        text-align: center;
        margin-top: 80px;
    }
    .layui-form{
        padding-right:15px;
    }
    .showcolor {
        background-color: #ccc;
    }
</style>


<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="UserName" value="@Model.UserName" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input type="text" name="UserNikeName" value="@Model.UserNikeName" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">登录名</label>
        <div class="layui-input-block">
            @{
                if (!string.IsNullOrEmpty(Model.UserAcount))
                {
                    <input type="text" name="UserAcount" value="@Model.UserAcount" readonly class="layui-input showcolor" />
                }
                else
                {
                    <input type="text" name="UserAcount" class="layui-input" />
                }
            }

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            @{
                if (!string.IsNullOrEmpty(Model.UserPassword))
                {
                    <input type="text" name="UserOldPassword" value="@Model.UserPassword" class="layui-input layui-hide" />
                    <input type="text" name="UserNewPassword" placeholder="如果不填写则以原密码，填即为新密码" class="layui-input" />
                }
                else
                {
                    <input type="text" name="UserPassword" placeholder="默认密码888888" value="" class="layui-input" />
                }
            }
        </div>
    </div>
    <div class="layui-form-item btn-area">
        <button onclick="parent.layer.closeAll()" class="layui-btn layui-btn-primary br5">取消</button>
        <button lay-submit lay-filter="addoreditpost" class="layui-btn layui-btn-danger">提交</button>
    </div>
    <input type="hidden" name="KID" value="@Model.KID" />
    <input type="hidden" name="CreateTime" value="@Model.CreateTime" />
    <input type="hidden" name="CreateUserId" value="@Model.CreateUserId" />
    <input type="hidden" name="CreateUserName" value="@Model.CreateUserName" />
    <input type="hidden" name="UpdateTime" value="@Model.UpdateTime" />
</div>
<script src="~/Content/Md5.js"></script>
<script>
    layui.use(['index', 'layer','jquery', 'form'], function () {
        var form = layui.form,
            $ = layui.$;

        form.on("submit(addoreditpost)", function (data) {
            var field = data.field;
            console.log(data.field)
            if (field.KID > 0) {
                if (field.UserNewPassword.length > 0) {
                    field.UserPassword = md5(field.UserNewPassword).toUpperCase();
                }
                else {
                    field.UserPassword = field.UserOldPassword
                }
            }
            else {
                if (field.UserPassword == " " || field.UserPassword == undefined) {
                    field.UserPassword=888888;
                }
                field.UserPassword = md5(field.UserPassword).toUpperCase();
            }

            console.log(field)
            $.ajax({
                type: 'post',
                url: '/Employee/AddOrEditPost',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(field),
                success: function (res) {
                    console.log(res)
                    if (res.IsSucceed) {
                        layer.msg("操作成功");
                        //parent.layui.table.reload('LAY-Employee-manage');
                        //parent.layer.closeAll();

                    }
                    else {
                        layer.msg("操作失败");
                    }

                },
                error: function (err) {
                    console.log(err)
                    layer.msg("系统错误");
                }

            })
        })
    })
</script>

