@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@using CJJ.Blog.Service.Model.View;
@model CJJ.Blog.Service.Model.View.BloginfoView

<style>
    .layui-form{

    }
    .auth-btn-area {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: white;
        text-align: center;
        line-height: 80px;
        z-index:999;
    }

    .auth-btn0 {
        background-color: #ff5a1e !important;
        color: #fff !important;
        width: 100px !important;
        height: 38px !important;
        padding: 0 !important;
        line-height: 38px !important;
        text-align: center !important;
        font-size: 14px !important;
        border: none !important;
        border-radius: 2px !important;
        cursor: pointer !important;
        margin-right: -110px !important;
        text-decoration: none;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        /*vertical-align: top;*/
    }

    .auth-btn1 {
        background-color: #444a5a !important;
        color: #fff !important;
        height: 38px !important;
        padding: 0 !important;
        width: 100px !important;
        line-height: 38px !important;
        text-align: center !important;
        font-size: 14px !important;
        border: none !important;
        border-radius: 2px !important;
        cursor: pointer !important;
        margin-left: -110px !important;
        text-decoration: none;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        /*vertical-align: top;*/
    }
</style>

<div class="layui-form">

    <div class="layui-form-item">
        <label class="layui-form-label">Title</label>
        <div class="layui-input-block">
            <input type="text" id="Title" name="Title" value='@(Model?.Title ?? " ")' placeholder="TItle" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">DetailTitle</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="DetailTitle" value='@(Model?.DetailTitle ?? "")' name="DetailTitle" placeholder="DetailTitle">
@(Model?.DetailTitle ?? "")
                </textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">artic</label>
        <div class="layui-input-block">
            <script id="ueditor" name="ueditor" type="text/plain">
                @Html.Raw(Model.Content?.ToString() ?? "")
            </script>
        </div>

    </div>
    <input type="hidden" name="KID" value='@(Model?.KID >0?Model.KID.ToString() : "" )' />
    <div class="auth-btn-area">
        <a class="auth-btn0" id="auth-btn0">确定</a>
        <a class="auth-btn1" id="auth-btn1">取消</a>
    </div>

</div>




<script src="~/ueditornet/ueditor.config.js"></script>
<script src="~/ueditornet/ueditor.all.js"></script>
<script src="~/ueditornet/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    layui.use(['jquery', 'form', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            laydate = layui.laydate;

        var ue = UE.getEditor('ueditor', {
            initialFrameWidth: 1000,
            initialFrameHeight: 520
        });
        ue.ready(function () {

        })

        $(function () {


        })




        var gethtml = function () {
            var html = ue.getContent();
            console.log(html)
            return html;
        }

        form.on('submit', function (data) {


            console.log(data)
            if (checkData()) {
                var field = data.field;
                field.Content = ue.getContent();
                PostSubmit(field);
            }
        })

        //提交后台
        var PostSubmit = function (Obj) {
            var load = layer.load(0, { shade: 0.5 });
            console.log(Obj);
            $.ajax({
                type: "post",
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(Obj),
                url: '/Blog/AddOrEditPost',
                success: function (res) {
                    console.log(res)
                    layer.closeAll();
                    parent.layer.closeAll();
                },
                error: function (err) {
                    console.log(err)
                    layer.msg(err.msg);
                }
            })

        }

        var checkData = function () {
            var title = $("#Title").val();
            var detailtitle = $("#DetailTitle").val();
            var uecontent = ue.getContent();
            if (title.length <= 0) {
                $("#Title").focus();
                return false;
            }
            if (detailtitle.length <= 0) {
                $("#DetailTitle").focus();
                return false;
            }
            if (uecontent.length <= 0) {
                return false;
            }
            return true;
        }

    });
</script>


