
@model IEnumerable<CJJ.Blog.Service.Models.Data.Bloginfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/Swiper/swiper.min.css" rel="stylesheet" />







<div class="editorcontain">

    <div class="swcon">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="http://www.baidu.com">
                        <img src="~/Content/201904121811113335369828.jpg" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="www.baidu.com">
                        <img src="~/Content/201904121811133022935876.jpg" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="www.baidu.com">
                        <img src="~/Content/201904121811145366134525.jpg" />
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->

            <div class="swiper-button-next swiper-button-black"></div>
            <div class="swiper-button-prev swiper-button-black"></div> <!-- 黑色 -->
        </div>
    </div>


    @*main blog*@
    <div class="main">
        @foreach (var item in Model)
        {
            <div class="blogitem">
                <h3 class="blogtitle"><a target="_blank" href="/Blog/detail?blogid=@item.KID">@item.Title</a></h3>
                <span class="blogpic">
                    <a target="_blank" href="/Blog/detail?blogid=@item.KID">
                        <img src="~/Content/201904121811113335369828.jpg" />
                    </a>
                </span>
                <p class="blogcontent">@item.DetailTitle</p>
                <div class="bloginfo">
                    <ul>
                        <li class="author"><span class="authoricon">&#xe663;</span> @item.CreateUserName</li>
                        <li class="cat"><span class="authoricon">&#xe660;</span>@item.Extend4</li>
                        <li class="createtime"><span class="authoricon">&#xe687;</span>@item.CreateTime.ToString("yyyy-MM-dd")</li>
                        <li class="viewtimes"><span class="authoricon">&#xe62b;</span>@item.Extend1</li>
                    </ul>
                </div>
                <a class="viewmore" target="_blank" href="/Blog/detail?blogid=@item.KID">阅读更多</a>
            </div>
        }
        
        @*模板
        <div class="blogitem">
            <h3 class="blogtitle"><a href="http://www.baidu.com">fastdev 日志组件学习</a></h3>
            <span class="blogpic">
                <a href="#">
                    <img src="~/Content/201904121811113335369828.jpg" />
                </a>
            </span>
            <p class="blogcontent">有很多朋友都在问帝国cms列表页怎么调用关键字tag，tag作为内链手法，对于SEO有一定的好处，下面杨青博客就实例讲述一下帝国cms列表页面调用关键字tag标签的方法，分享给大...</p>
            <div class="bloginfo">
                <ul>
                    <li class="author"><span class="authoricon">&#xe663;</span> Rodman</li>
                    <li class="cat"><span class="authoricon">&#xe660;</span>技术框架</li>
                    <li class="createtime"><span class="authoricon">&#xe687;</span>2019-02-03</li>
                    <li class="viewtimes"><span class="authoricon">&#xe62b;</span>200</li>
                </ul>
            </div>
            <a href="#" class="viewmore">阅读更多</a>
        </div>*@


    </div>


    <script src="~/Content/Swiper/swiper.min.js"></script>
    <script src="~/Scripts/Blog/Index.js"></script>



</div>

